
<ion-content class="home">

  <img src="https://ionicframework.com/dist/preview-app/www/assets/img/ica-slidebox-img-1.png" class="home-image"/>
  <h2 class="home-title">¿Preparado?</h2>
  <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button (click)="apiLogin()" ion-button large full color="primary">Identificarse</button>
  </ion-toolbar>
</ion-footer>



<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

   <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>-->
