page-home {

}

.home {
  text-align: center;

  .home-background {
    background: #fff;
    border-color: transparent;
  }

  .home-zoom {
    height: 100%;
  }

  .home-title {
    margin-top: 2.8rem;
  }

  .home-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
