<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedTag.name}} ({{selectedItem.name}})</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refreshValues()" color="royal">
        <ion-icon name="md-refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>    
</ion-header>

<ion-content>

<!--  <button ion-item (click)="test();">test</button> -->
   
  
  <ion-list>
    <button ion-item *ngFor="let value of values">
      <ion-icon name="md-clipboard" item-left></ion-icon>
      {{value.value}}
      <div class="item-note" item-right>
        <ion-note item-end>
            {{value.createdAt}}
        </ion-note>
      </div>
    </button>
  </ion-list>


  <div *ngIf="values">
    <div *ngIf="!values[0]" padding>
        No hay <b>valores</b> que mostrar.
    </div>
  </div>

</ion-content>
