<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(homePage)">
        Home
      </button>
      <button ion-item (click)="openPage(friendsPage)">
        Friends
      </button>
      <button ion-item (click)="openPage(eventsPage)">
        Events
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

    
    
<ion-header>
  <ion-navbar color="primary">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Dispositivos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="newDevice()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only color="royal" (click)="logoutConfirm()">
        <ion-icon name="md-exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Buscar dispositivo"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <button ion-item *ngFor="let device of devices"  (click)="itemTapped($event, device)" (press)="itemPressed($event, device)">
      <ion-icon name="md-cube" item-left></ion-icon>
      {{device.name}}
      <div class="item-note" item-right>
        
        <ion-note item-end>
            id#{{device.id}}
        </ion-note>
      </div>
    </button>
  </ion-list>
  
  <div *ngIf="devices">
    <div *ngIf="!devices[0]" padding>
        No hay <b>dispositivos</b> que mostrar.
    </div>
  </div>
</ion-content>
