<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(homePage)">
        Home
      </button>
      <button ion-item (click)="openPage(friendsPage)">
        Friends
      </button>
      <button ion-item (click)="openPage(eventsPage)">
        Events
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Usuarios de {{selectedItem.name}}</ion-title>

  </ion-navbar>
  
  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Buscar usuario"></ion-searchbar>
  </ion-toolbar>
  
</ion-header>

<ion-content>

<!--  <button ion-item (click)="test();">test</button> -->
   
  
  
  
  
  <ion-list>
    <ion-item>
      <b>Administrador</b>
      <button (click)="newUserDevice(1)" ion-button outline item-end icon-left>
        <ion-icon name="md-person-add"></ion-icon>
        Agregar usuario
      </button>
    </ion-item>
    
    
  <div *ngIf="usersByRole[1]">
    <div *ngIf="!usersByRole[1][0]" padding>
        No hay <b>usuarios</b> que mostrar.
    </div>
  </div>
  
    <button ion-item *ngFor="let user of usersByRole[1]" (click)="itemOptions($event, user)">
      <ion-icon name="md-person" item-left></ion-icon>
      {{user.nick}}
      <div class="item-note" item-right>
        <ion-note item-end>
            {{user.role}}
        </ion-note>
      </div>
    </button>
  </ion-list>
  
  
  
  
  <ion-list>
    <ion-item>
      <b>Lectura y escritura de tags</b>
      <button (click)="newUserDevice(2)" ion-button outline item-end icon-left>
        <ion-icon name="md-person-add"></ion-icon>
        Agregar usuario
      </button>
    </ion-item>
    
  <div *ngIf="usersByRole[2]">
    <div *ngIf="!usersByRole[2][0]" padding>
        No hay <b>usuarios</b> que mostrar.
    </div>
  </div>
  
    <button ion-item *ngFor="let user of usersByRole[2]" (click)="itemOptions($event, user)">
      <ion-icon name="md-person" item-left></ion-icon>
      {{user.nick}}
      <div class="item-note" item-right>
        <ion-note item-end>
            {{user.role}}
        </ion-note>
      </div>
    </button>
  </ion-list>
  
  
  
  
  
  <ion-list>
    <ion-item>
      <b>Sólo lectura</b>
      <button (click)="newUserDevice(3)" ion-button outline item-end icon-left>
        <ion-icon name="md-person-add"></ion-icon>
        Agregar usuario
      </button>
    </ion-item>
    
  <div *ngIf="usersByRole[3]">
    <div *ngIf="!usersByRole[3][0]" padding>
        No hay <b>usuarios</b> que mostrar.
    </div>
  </div>
  
    <button ion-item *ngFor="let user of usersByRole[3]" (click)="itemOptions($event, user)">
      <ion-icon name="md-person" item-left></ion-icon>
      {{user.nick}}
      <div class="item-note" item-right>
        <ion-note item-end>
            {{user.role}}
        </ion-note>
      </div>
    </button>    
    
  </ion-list>
  
  
  
  
  
  


  <div *ngIf="users">
    <div *ngIf="!users[0]" padding>
        No hay <b>usuarios</b> que mostrar.
    </div>
  </div>

</ion-content>
