<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedItem.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refreshTags()" color="royal">
        <ion-icon name="md-refresh"></ion-icon>
      </button>
      <button (click)="usersView()" ion-button icon-only color="royal">
        <ion-icon name="people"></ion-icon>
      </button>
      <button ion-button icon-only (click)="newTag()" color="royal">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Buscar tag"></ion-searchbar>
  </ion-toolbar>
  
</ion-header>

<ion-content>

<!--  <button ion-item (click)="test();">test</button> -->
   
  

    <ion-item-group *ngFor="let group of groups">
    
                
            <ion-item-divider color="light">
                {{group.name}}
            </ion-item-divider>
                <ion-item ion-item *ngFor="let tag of group.tags" (click)="itemTapped($event, tag, group)" (press)="itemPressed($event, tag, group)">
                {{tag.name}}
                
      <div *ngIf="tag.current_value[0]" padding class="item-note" item-right>
        <ion-note item-end>
            {{tag.current_value[0].value}}
        </ion-note>
      </div>
                </ion-item>
                  
        
    
    </ion-item-group>


  <div *ngIf="groups">
    <div *ngIf="!groups[0]" padding>
        No hay <b>tags</b> que mostrar.
    </div>
  </div>

</ion-content>
